/*
* General
*/

html {
  position: relative;
  min-height: 100%
}

body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px
}

label {
  font-weight: 600
}

th {
  font-weight: 600
}

.form-control {
  margin-bottom: 15px
}

.alert {
  margin-top: 5px
}

.form-control {
  border-radius: 5px;
  border: 1px solid rgba(232, 232, 232, 1);
  min-height: 40px;
  box-shadow: none
}

.input-group-btn button {
  min-height: 40px
}

.disabled-button {
  display: none
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  opacity: 0.6;
  background-color: #fff;
  pointer-events: none
}

input.form-control {
  margin-bottom: 0px
}

.inline-split,
.inline-split + .form-group {
  margin-bottom: 10px;
  border-bottom: 1px inset  rgba(232, 232, 232, 0.4);
  padding-bottom: 15px
}

/*
* Forms
*/

.form-group__message {
  color: red;
  font-weight: 100;
  font-size: 90%
}

.has-error > .multiselect > .multiselect__tags {
  border-color: #a94442
}

.multiselect--disabled > .multiselect__select {
  display: none
}

/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  padding-top: 20px
}

/*
* App Menu
*/
.nav-app-menu {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 0px;
  margin-left: -20px;
  border-bottom: 2px solid #eee
}
.nav-app-menu > li {
  cursor: pointer
}
.nav-app-menu > li > a {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
  line-height: 50px;
  text-transform: uppercase
}
.nav-app-menu > .active > a,
.nav-app-menu > .active > a:hover,
.nav-app-menu > .active > a:focus {
  color: #fff;
  background-color: #428bca
}

.nav-app-menu > li > a > i {
  padding-right: 15px;
  color: #525252;
  font-size: 25px
}
.nav-app-menu > .active > a > i {
  color: #fff;
}

.nav-app-menu > li > a > .reveal-icon {
  position: absolute;
  right: 20px;
  top: 25px;
  color:  rgba(150, 150, 150, 0.5)
}
.nav-app-menu > .active > a > .reveal-icon {
  color: #fff;
}

.nav-app-submenu {
  background-color: #b5afaf
}
.nav-app-submenu > li {
  border-bottom: 1px solid rgba(150, 150, 150, 0.5)
}
.nav-app-submenu > li > a {
  padding-left: 60px;
  font-size: 13px;
  line-height: 25px
}
.nav-app-submenu > li > a:hover {
  background-color: #ddd
}
.nav-app-submenu > .active > a,
.nav-app-submenu > .active > a:hover,
.nav-app-submenu > .active > a:focus {
  color: #fff;
  background-color: #91acc3
}

.nav-app-brand {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 150%;
  text-align: center;
  cursor: pointer;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee
}

.nav-app-footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  margin-right: -21px; /* 20px padding + 1px border */
  margin-left: -20px;
  padding: 10px 10px 10px 10px;
  background-color: rgba(214, 214, 214, 1)
}

.footer-links {
  margin-top: 15px;
  margin-left: calc(50% - 30px)
}
.footer-links > li > a,
.footer-links > li > a:hover,
.footer-links > li > a:focus {
  color: #525252;
  text-decoration: none
}

/*
* Mobile menu
*/

.mobile-menu {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  height: 100%;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: rgba(214, 214, 214, 0.9);
  border-right: 1px solid #eee;
  padding-top: 20px
}

.mobile-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px
}

.mobile-menu a {
  text-decoration: none
}

/*
* panel
*/

.panel-slot {
  margin-bottom: 5%
}

.panel-header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  background-color: #F8F8F8;
  text-indent: 50px
}

.panel-header-icon {
  padding-right: 15px
}
.panel-menu {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee
}
.nav.panel-heading {
  padding: 0px 0px;
  cursor: pointer
}
.nav.panel-heading > .active > a,
.nav.panel-heading > .active > a:hover,
.nav.panel-heading > .active > a:focus {
  color: #fff;
  background-color: #91acc3;
  border-radius: 3px 3px 0px 0px
}

.app-header-title {
  font-size: 30px;
  margin-left: 15px
}

.mobile-menu-button {
  margin-top: -10px;
  margin-left: -50px
}

/*
* Modal window
*/
.modal-dialog {
  overflow-y: initial !important
}

.modal-body {
  max-height: calc(100vh - 180px);
  overflow-y: auto
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table
}

.message-height {
  height: 324px
}

/*
* Table
*/
.center-content {
  text-align: center
}

/*
* Visualisation
*/

#sigma-parent {
  position: relative;
  height: calc(100vh - 40px);
  width: 100vw;
}

#sigma-container {
    position: absolute;
    width: 100%;
    height: 100%
}


/*
* Welcome Page
*/

.jumbotron {
  position: relative;
  height: 100vh;
  min-height: 700px
}

.welcome-action {
  padding-top: 20px;
}
.welcome-action > a {
  margin-right: 20px
}
.welcome-action > a:last-child {
  color: grey;
  font-size: 18px
}
.welcome-action > a:last-child:hover,
.welcome-action > a:last-child:focus {
  text-decoration: none
}

.welcome-banner {
  padding-top: 5%
}

#particlesjs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(217, 237, 247, 1);
  z-index: 0
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5
}


/*
* Table
*/

.app-table {
  margin-top: 20px
}

.v-paginator > .btn:last-child:before {
  content: "\f061";
  font-family: FontAwesome
}

.v-paginator > .btn:first-child:before {
  content: "\f060";
  font-family: FontAwesome
}

/*
* Media queries
*/

/* Large desktops and laptops */
@media (min-width: 1200px) {
  #sigma-parent {
    width: calc(100vw - 250px)
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  #sigma-parent {
    width: calc(100vw - 250px)
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  #sigma-parent {
    width: calc(100vw - 250px)
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .inline-split {
    margin-bottom: 5px;
    padding-bottom: 0px;
    border-bottom: none
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .inline-split {
    margin-bottom: 5px;
    padding-bottom: 0px;
    border-bottom: none
  }
}