{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
		<h1>Welcome!</h1>
		<br>
		<div class="col-md-1">
		</div>
		<div class="col-md-5">
			<p>MIMINANI helps you <strong>finally</strong> create your family tree! All it takes to start is your email address and name.</p>
			<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a></p>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-4">
			<div class="well">
				<h3>Register/Login here</h3>
				<hr>
				{{ wtf.quick_form(form) }}
				<hr>
				<small>(we'll send you a magic login/registration link by email!)</small>
			</div>
		</div>
	</div>
</div>
{% endblock %}