{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="jumbotron">
	<div class="container">
		{% for message in get_flashed_messages() %}
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
		{% endfor %}
		<div class="col-md-7">
			<h1>Welcome!</h1>
			<br>
			<div style="padding-left: 30px; padding-bottom: 50px;">
				<p>MIMINANI helps you <strong>finally</strong> create your family tree!
				<br>All it takes to start is your email address and name.</p>
				<p><a class="btn btn-info btn-lg" href="#" role="button">Learn More</a></p>
			</div>
		</div>
		<div class="col-md-5">
			<div class="well well-lg center-block" style="width: 342px;">
				<h3>Join Us</h3>
				<hr>
				{{ wtf.quick_form(form) }}
				<hr>
				<small>We respect your privacy.<br>Please read our privacy policy <a href="#">here</a>.</small>
			</div>
		</div>
		</div>
	</div>
</div>
{% endblock %}