<!DOCTYPE html>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0 user-scalable=no">
  <title>MIMINANI</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/moment/moment.js"></script>
  <script src="node_modules/pikaday/pikaday.js"></script>
  <script src="node_modules/vue-multiselect/dist/vue-multiselect.min.js"></script>
  <script src="node_modules/vue-router/dist/vue-router.js"></script>
  <script src="node_modules/particles.js/particles.js"></script>
  <script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
  <script src="node_modules/axios/dist/axios.js"></script>
  <script src="node_modules/vuelidate/dist/validators.min.js"></script>
  <script src="node_modules/vuelidate/dist/vuelidate.min.js"></script>
  <script src="node_modules/sweetalert/dist/sweetalert.min.js"></script>
  <script src="node_modules/sigma/build/sigma.min.js"></script>
  <script src="/node_modules/sigma/plugins/sigma.layout.forceAtlas2/supervisor.js"></script>
  <script src="/node_modules/sigma/plugins/sigma.layout.forceAtlas2/worker.js"></script>
  <script src="node_modules/vuejs-paginator/dist/vuejs-paginator.js"></script>
  <link rel="stylesheet" href="node_modules/pikaday/css/pikaday.css" />
  <link rel="stylesheet" href="node_modules/bootstrap-css-only/css/bootstrap.css" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="node_modules/npm-font-open-sans/open-sans.css" />
  <link rel="stylesheet" href="node_modules/vue-multiselect/dist/vue-multiselect.min.css" />
  <link rel="stylesheet" href="node_modules/sweetalert/dist/sweetalert.css" />
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <div id="app">
    <router-view></router-view>
  </div>

  <template id="dashboard-page">
    <div>
      <app-sidebar-menu class="hidden-xs" :panels="sidebar_panels" :header="sidebar_header" :footer="sidebar_footer" :current_panel="current_Panel"></app-sidebar-menu>
      <app-mobile-menu :panels="sidebar_panels" :header="sidebar_header" :footer="sidebar_footer" v-if="open_mobile_menu" :current_panel="current_Panel"></app-mobile-menu>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 panel">
        <app-header class="hidden-lg hidden-md hidden-sm" :panels="sidebar_panels" :current_panel="current_Panel"></app-header>
      </div>
      <router-view></router-view>
    </div>
  </template>

  <template id="relationships-page">
    <router-view></router-view>
  </template>

  <template id="add-relationships-page">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div class="panel-group">
        <div v-for="panel in bs_panels" class="col-sm-6 col-md-6 col-lg-6 panel-slot">
          <app-panel :bs_panel="panel" :key="panel.id">
            <app-form :form="splitPanelForm(form_data, panel.name)" :submit_resource="submit_resource" :search_resource="search_resource" :form_is_inline="false"></app-form>
          </app-panel>
        </div>
      </div>
    </div>
  </template>

  <template id="list-relationships-page">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <app-table :resource_url="table_resource" class="app-table"></app-table>
      <app-modal-form :resource_urls="modal_resources"></app-modal-form>
    </div>
  </template>

  <template id="visualisation-page">
    <div id="sigma-parent" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      <div id="sigma-container">
      </div>
    </div>
  </template>

  <template id="welcome-page">
    <div>
      <div class="jumbotron">
        <div id="particlesjs"></div>
        <div class="container-fluid">
          <div class="row welcome-banner">
            <div class="col-md-6 col-sm-6 col-md-push-1">
              <div>
                <h1><strong>Connecting</strong> African Histories.</h1>
                <h3>History is a collection of stories. We help you tell yours.</h3>
                <hr>
                <p class="welcome-action">
                  <a class="btn btn-success btn-lg" v-on:click="login()" v-if="!authentication">Tell your story</a>
                  <a href="#">
                    <i class="fa fa-external-link fa-fw"></i>
                    Learn more
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container">
          <span class="text-muted"><small>&copy; 2017 squarenomad.com</small></span>
        </div>
      </footer>
    </div>
  </template>

  <template id="app-sidebar-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <app-menu :panels="panels" :header="header" :footer="footer" :current_panel="current_panel"></app-menu>
        </div>
      </div>
    </div>
  </template>

  <template id="app-mobile-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="hidden-lg hidden-md hidden-sm mobile-menu">
          <a href="#" class="close-btn" v-on:click="closeMobileMenu">&times;</a>
          <app-menu :panels="panels" :header="header" :footer="footer" :current_panel="current_panel"></app-menu>
        </div>
      </div>
    </div>
  </template>

  <template id="app-header">
    <div>
      <div class="row center-block panel-header">
        <div class="col-xs-12">
          <button class="btn btn-default btn-lg mobile-menu-button" v-on:click="openMobileMenu">
            <span class="fa fa-bars fa-lg"></span>
          </button>
          <span class="app-header-title">{{current_panel}}</span>
        </div>
      </div>
    </div>
  </template>

  <template id="app-form">
    <form v-on:submit.prevent="submitForm" :class="{'form-inline': form_is_inline}">
      <div v-for="field in form" v-if="$v.form_object[field.field_name] != null" :class="['form-group', field.classes, {'has-error': $v.form_object[field.field_name].$error}]">
        <div v-if="field.type == 'hidden-input'" style="display: none;" :key="field.id">
          <label>{{ field.label }}</label>
          <input type="text" :name="field.field_name" :value="field.placeholder" readonly>
        </div>
        <label v-else>{{ field.label }}</label>
        <span class="form-group__message" v-if="Object.keys($v.form_object[field.field_name].value).indexOf('required') != -1"> *</span>
        <div v-if="['alpha-input', 'email-input'].indexOf(field.type) != -1" :class="{'input-group': field.value != undefined}">
          <input type="text" class="form-control" :name="field.field_name" v-model.trim="form_object[field.field_name].value" :placeholder="field.placeholder" v-on:input="$v.form_object[field.field_name].value.$touch()" :key="field.id" :readonly="field.value != undefined && !form_object[field.field_name].activated">
          <div v-if="field.value != undefined" class="input-group-btn">
            <button type="button" class="btn btn-warning" v-on:click="activateField(field.field_name)">
              Change
            </button>
          </div>
        </div>
        <div v-else-if="field.type == 'pikaday-input'" class="input-group">
          <input type="text" class="form-control" :name="field.field_name" :ref="field.field_name"  v-model.trim="form_object[field.field_name].value" v-on:input="$v.form_object[field.field_name].value.$touch()" readonly :key="field.id">
          <div class="input-group-btn">
            <button type="button" :ref="field.field_name+'-btn'" :class="['btn', 'btn-default', {'disabled-button': field.value != undefined && !form_object[field.field_name].activated}]">
              <i class="fa fa-calendar fa-lg"></i>
            </button>
            <button v-if="field.value != undefined" type="button" class="btn btn-warning" v-on:click="activateField(field.field_name)">
              Change
            </button>
          </div>
        </div>
        <div v-else-if="field.type == 'multiselect-input'" :class="{'input-group': field.value != undefined}">
          <multiselect :options="field.multiselect_options" :placeholder="field.placeholder" deselect-label="Remove" select-label="Select" v-model="form_object[field.field_name].value" v-on:input="$v.form_object[field.field_name].value.$touch()" :key="field.id" :disabled="field.value != undefined && !form_object[field.field_name].activated" :select-label="field.SelectLabel" :deselect-label="field.DeselectLabel"></multiselect>
          <div v-if="field.value != undefined" class="input-group-btn">
            <button type="button" class="btn btn-warning" v-on:click="activateField(field.field_name)">
            Change
            </button>
          </div>
        </div>
        <div v-else-if="field.type == 'search-input'" :class="{'input-group': field.value != undefined}">
          <multiselect :options="form_object[field.field_name].options" :placeholder="field.placeholder" :loading="form_object[field.field_name].loading" :options-limit="10" :searchable="true" :internal-search="false" v-on:search-change="asyncFind(field.field_name, $event)" v-model="form_object[field.field_name].value" v-on:input="$v.form_object[field.field_name].value.$touch()" :key="field.id" :disabled="field.value != undefined && !form_object[field.field_name].activated" :select-label="field.SelectLabel" :deselect-label="field.DeselectLabel">
            <span slot="noResult">Oops! No person found under that name.</span>
          </multiselect>
          <div v-if="field.value != undefined" class="input-group-btn">
            <button type="button" class="btn btn-warning" v-on:click="activateField(field.field_name)">
              Change
            </button>
          </div>
        </div>
        <!-- <pre v-if="!!$v.form_object[field.field_name].value">{{$v.form_object[field.field_name].value}}</pre> -->
        <span class="form-group__message" v-if="!$v.form_object[field.field_name].value.required && Object.keys($v.form_object[field.field_name].value).indexOf('required') != -1 && $v.form_object[field.field_name].value.$dirty">{{ field.label }} is required</span>
        <span class="form-group__message" v-else-if="!$v.form_object[field.field_name].value.alpha && Object.keys($v.form_object[field.field_name].value).indexOf('alpha') != -1 && $v.form_object[field.field_name].value.$dirty">{{ field.label }} is not valid</span>
        <span class="form-group__message" v-else-if="!$v.form_object[field.field_name].value.email && Object.keys($v.form_object[field.field_name].value).indexOf('email') != -1 && $v.form_object[field.field_name].value.$dirty">Invalid email address</span>
      </div>
      <div v-for="field in form" v-if="field.type == 'submit-button'" class="form-group">
        <button type="submit" :class="field.button_class">{{ field.button_message }}</button>
      </div>
    </form>
  </template>

  <template id="app-panel">
    <div class="panel panel-default">
      <ul class="nav panel-heading">
        <li :class="['panel-title', {active: bs_panel.open}]">
          <a v-on:click.stop="bs_panel_selected(bs_panel)">
            <i :class="[bs_panel.icon, 'panel-header-icon']"></i>
            {{bs_panel.label}}
          </a>
        </li>
      </ul>
      <div class="panel-collapse collapse" :class="{in: bs_panel.open}">
        <div class="panel-body">
          <slot></slot>
        </div>
      </div>
    </div>
  </template>

  <template id="app-table">
    <div>
      <div class="table-responsive">
        <table v-if="table_Data.length > 0" class="table table-hover">
          <thead>
            <tr>
              <th class="center-content" v-for="header in table_Headers">{{header}}</th>
              <th class="center-content">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="record in table_Data">
              <td class="center-content" v-for="(value, key) in record" v-if="key != 'id'">{{ value }}</td>
              <td class="center-content">
                <button type="button" v-on:click="openRecordInModal(record.id, 'record_resource')" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-user fa-fw"></i></button>
                <button type="button" v-on:click="openRecordInModal(record.id, 'links_resource')" class="btn btn-default btn-sm" title="Edit"><i class="fa fa-link fa-fw"></i></button>
                <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteRecord(record.id)" title="Delete"><i class="fa fa-trash-o fa-fw"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <h3 class="text-center" v-else>No Relationship Data Available</h3>
      </div>
      <div class="row">
        <v-paginator class="center-block" style="width: 180px;" v-show="table_Data.length > 0" :resource_url="resource_url" v-on:update="updateTable" :options="options"></v-paginator>
      </div>
    </div>
  </template>

  <template id="app-modal-form">
    <div v-if="modal_open">
      <div class="modal-mask">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" v-once>Edit Relationship</h4>
            </div>
            <div class="modal-body">
              <app-form :form="modal_Form_Data" :submit_resource="resource_urls.submit_resource" :search_resource="resource_urls.search_resource" :form_is_inline="inlined_form"></app-form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" v-on:click="closeModal">Close</button>
              <button type="submit" v-on:click="submitForm" :class="['btn', 'btn-primary', {'disabled-button' : !activate_submit_button}]">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="app-menu">
    <div>
      <ul class="nav nav-app-brand">
        <i v-once :class="header.logo"></i>
        <li v-once>{{header.title}}</li>
      </ul>
      <ul v-for="panel in panels" class="nav nav-app-menu">
        <router-link v-if="panel.navs.length == 0" :to="{name: panel.name}" tag="li" active-class="active" :key="panel.id" v-on:click.native="setOpenSubmenu(panel.name)">
          <a>
            <i :class="panel.icon"></i>
            {{panel.name}}
          </a>
        </router-link>
        <li v-else-if="panel.navs.length > 0" :key="panel.id" :class="{'active': current_panel == panel.name}">
          <a v-on:click="setOpenSubmenu(panel.name)">
            <i :class="panel.icon"></i>
            {{panel.name}}
            <span class="fa fa-chevron-down fa-fw reveal-icon"></span>
          </a>
        </li>
        <ul :class="['nav', 'nav-app-submenu', 'collapse', {'in': open_submenu == panel.name}]">
          <router-link v-for="menu in panel.navs" :to="{name: menu.view}" tag="li" active-class="active" :key="menu.id" v-on:click.native="setOpenSubmenu(panel.name)">
            <a>{{menu.title}}</a>
          </router-link>
        </ul>
      </ul>
      <div class="nav-app-footer">
        <button type="button" v-for="item in footer" v-if="item.type == 'footer_button'" :class="item.class" v-on:click="performAction(item.action)">{{item.caption}}</button>
        <ul class="list-inline footer-links">
          <router-link v-for="item in footer" v-if="item.path_type == 'internal'" active-class="active" :to="{name: item.link}" tag="li" :key="item.key">
            <a :class="item.icon"></a>
          </router-link>
          <li v-else-if="item.path_type == 'external'">
            <a :href="item.link" :class="item.icon"></a>
          </li>
        </ul>
      </div>
    </div>
  </template>

  <template id="user-page">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
    </div>
  </template>

</body>

<script src="scripts/main.js"></script>

</html>
