<!DOCTYPE html>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MIMINANI</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/vue-form-generator/dist/vue-form-generator.js"></script>
  <script src="node_modules/pikaday/pikaday.js"></script>
  <script src="node_modules/moment/moment.js"></script>
  <script src="node_modules/vue-multiselect/lib/vue-multiselect.min.js"></script>
  <link rel="stylesheet" href="node_modules/pikaday/css/pikaday.css" />
  <link rel="stylesheet" href="node_modules/bootstrap-css-only/css/bootstrap.css" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <div id="app">
    <app-navbar v-on:subdropdown="toggleSubMenu" :open_submenu="open_sub_dropdown_name" v-on:maindropdown="toggleMenu" :nav_state="{in : open_main_dropdown}" :title="title" :nav_menus="nav_menus"></app-navbar>
    <app-sidebar :current_panel="current_panel" :panels="all_panels"></app-sidebar>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 panel">
      <panel-subnav v-if="currentSubnavs != null" :subnav_menus="currentSubnavs" :subnav_dropdown="all_panels" :current_panel="current_panel" :current_panel_view="current_panel_view"></panel-subnav>
      <panel-form v-if="isNavigationAllowed(current_panel, current_panel_view, 'Form')" :form="getPanelViewData(current_panel, current_panel_view)"></panel-form>
      <panel-table v-if="isNavigationAllowed(current_panel, current_panel_view, 'Table')" :list="getPanelViewData(current_panel, current_panel_view)" :table_headers="getViewFields(current_panel_view, ['id']) | spacereplace | capitalize"></panel-table>
      <modal-window v-if="open_modal_state" :relationship_data="getModalRelationshipData(current_panel_view)" :form_labels="getViewFields(current_panel_view, ['id']) | spacereplace | capitalize"></modal-window>
    </div>
  </div>

  <template id="app-navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" v-on:click="maindropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse" :class="nav_state">
          <ul class="nav navbar-nav navbar-right">
            <li :class="[item.class, {'open': item.caption == open_submenu}]" v-for="item in nav_menus" :title="item.reference">
              <a :href="item.link" class="dropdown-toggle" v-on:click="subdropdown(item.caption)" v-if="item.class.includes('dropdown')">
                <i :class="item.icon"></i>
                <small class="nav-menu-caption">{{item.caption}}</small>
                <i class='fa fa-angle-down fa-lg'></i>
              </a>
              <a v-else :href="item.link">
                <i :class="item.icon"></i>
                <small class="hidden-md hidden-sm hidden-lg nav-menu-caption">
                  {{item.caption}}
                </small>
              </a>
              <ul class="dropdown-menu" v-if="item.dropdown.length > 0">
                <li v-for="submenu in item.dropdown" :class="submenu.class">
                  <a :href="submenu.link">{{submenu.caption}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </template>

  <template id="app-sidebar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 hidden-xs sidebar">
          <ul class="nav nav-sidebar">
            <li :class="{active: panel == current_panel}" v-for="panel in panels">
              <a v-on:click="panelSelected(panel)" href="#"><h4>{{panel}}</h4></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </template>

  <template id="panel-subnav">
    <div>
      <div class="row center-block hidden-xs panel-header">
        <h1>{{current_panel}}</h1>
      </div>
      <div class="dropdown" :class="{open : open_panel_menu}">
        <button class="btn btn-default btn-lg btn-group-justified hidden-sm hidden-md hidden-lg button-header" v-on:click="togglePanelMenu">
          <h3>{{current_panel}}</h3>
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu hidden-sm hidden-md hidden-lg panel-dropdown">
          <li v-for="menu in subnav_dropdown" :class="{'active': menu == current_panel}"><a v-on:click="panelSelected(menu)" class="text-center" href="#">{{menu}}</a></li>
        </ul>
      </div>
      <div class="btn-group btn-group-justified panel-menu" v-if="subnav_menus.length > 0">
        <div :class="panel_menu.bs_grid_length" v-for="panel_menu in subnav_menus">
          <button :class="[panel_menu.bs_button, {'active': panel_menu.title == current_panel_view}]" :title="panel_menu.info" v-on:click="panelViewSelected(panel_menu.title)">
            <i :class="panel_menu.fa_icon"></i>
          </button>
        </div>
      </div>
    </div>
  </template>

  <template id="panel-form">
    <div>
        <vue-form-generator :schema="form.data.schema" :model="form.data.model" :options="form.data.formOptions"></vue-form-generator>
    </div>
  </template>

  <template id="panel-table">
    <div class="table-responsive">
      <table v-if="list.data.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th class="center-content" v-for="header in table_headers">{{header}}</th>
            <th class="center-content">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="relation in list.data">
            <td class="center-content" v-for="(detail, key) in relation" v-if="key != 'id'">{{ detail }}</td>
            <td class="center-content">
              <button type="button" v-on:click="openRelation(relation.id)" class="btn btn-primary btn-xs"><i class="fa fa-pencil-square-o"></i>  Edit</button>
              <button type="button" class="btn btn-danger btn-xs" v-on:click="deleteRelation(relation.id)"><i class="fa fa-trash"></i> Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 class="text-center" v-else>No Relationship Data Available</h3>
    </div>
  </template>

  <template id="modal-window">
    <div class="modal-mask">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">{{relationship_data.first_name}} {{relationship_data.last_name}}</h4>
          </div>
          <div class="modal-body">
            <form>
              <div v-for="(input, key, index) in relationship_data" v-if="key != 'id'" class="form-group">
                <label class="control-label">{{form_labels[index-1]}}</label>
                <div class="input-group">
                  <input class="form-control" type="text" :placeholder=input :readonly="active_form_fields.indexOf(input) == -1">
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default" v-on:click="activateFormField(input)">
                      Change
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" v-on:click="closeModal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </template>

</body>

<script src="static/js/script.js"></script>

</html>
