<!DOCTYPE html>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MIMINANI</title>
  <script src="node_modules/vue/dist/vue.js"></script>
  <script src="node_modules/pikaday/pikaday.js"></script>
  <script src="node_modules/moment/moment.js"></script>
  <script src="node_modules/vue-multiselect/lib/vue-multiselect.min.js"></script>
  <link rel="stylesheet" href="node_modules/pikaday/css/pikaday.css" />
  <link rel="stylesheet" href="node_modules/bootstrap-css-only/css/bootstrap.css" />
  <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <div id="app">
    <app-navbar v-on:subdropdown="toggleSubMenu" :open_submenu="open_sub_dropdown_name" v-on:maindropdown="toggleMenu" :nav_state="{in : open_main_dropdown}" :title="title" :nav_menus="nav_menus"></app-navbar>
    <app-sidebar :current_panel="current_panel" :panels="all_panels"></app-sidebar>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 panel">
      <panel-header :subnav_dropdown="all_panels" :current_panel="current_panel"></panel-header>
      <panel-subnav v-if="current_Subnavs != null" :subnav_menus="current_Subnavs" :current_panel_view="current_panel_view"></panel-subnav>
      <panel-form v-if="isNavigationAllowed(current_panel, current_panel_view, 'Form')" :form="getViewData(current_panel_view)" :bs_panels="bs_panels"></panel-form>
      <panel-table v-if="isNavigationAllowed(current_panel, current_panel_view, 'Table')" :list="getViewData(current_panel_view)" :table_headers="getViewFields(current_panel_view, ['id']) | spacereplace | capitalize"></panel-table>
      <modal-window v-if="open_modal_state" :form="modal_Form"></modal-window>
    </div>
  </div>

  <template id="app-navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" v-on:click="maindropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse" :class="nav_state">
          <ul class="nav navbar-nav navbar-right">
            <li :class="[item.class, {'open': item.caption == open_submenu}]" v-for="item in nav_menus" :title="item.reference">
              <a :href="item.link" class="dropdown-toggle" v-on:click="subdropdown(item.caption)" v-if="item.class.includes('dropdown')">
                <i :class="item.icon"></i>
                <small class="nav-menu-caption">{{item.caption}}</small>
                <i class='fa fa-angle-down fa-lg'></i>
              </a>
              <a v-else :href="item.link">
                <i :class="item.icon"></i>
                <small class="hidden-md hidden-sm hidden-lg nav-menu-caption">
                  {{item.caption}}
                </small>
              </a>
              <ul class="dropdown-menu" v-if="item.dropdown.length > 0">
                <li v-for="submenu in item.dropdown" :class="submenu.class">
                  <a :href="submenu.link">{{submenu.caption}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </template>

  <template id="app-sidebar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 hidden-xs sidebar">
          <ul class="nav nav-sidebar">
            <li :class="{active: panel == current_panel}" v-for="panel in panels">
              <a v-on:click="panelSelected(panel)" href="#"><h4>{{panel}}</h4></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </template>

  <template id="panel-header">
    <div>
      <div class="row center-block hidden-xs panel-header">
        <h1>{{current_panel}}</h1>
      </div>
      <div class="dropdown" :class="{open : open_panel_menu}">
        <button class="btn btn-default btn-lg btn-group-justified hidden-sm hidden-md hidden-lg button-header" v-on:click="togglePanelMenu">
          <h3>{{current_panel}}</h3>
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu hidden-sm hidden-md hidden-lg panel-dropdown">
          <li v-for="menu in subnav_dropdown" :class="{'active': menu == current_panel}"><a v-on:click="panelSelected(menu)" class="text-center" href="#">{{menu}}</a></li>
        </ul>
      </div>
    </div>
  </template>

  <template id="panel-subnav">
    <div class="btn-group btn-group-justified panel-menu" v-if="subnav_menus.length > 0">
      <div :class="panel_menu.bs_grid_length" v-for="panel_menu in subnav_menus">
        <button :class="[panel_menu.bs_button, {'active': panel_menu.title == current_panel_view}]" :title="panel_menu.info" v-on:click="panelViewSelected(panel_menu.title)">
          <i :class="panel_menu.fa_icon"></i>
        </button>
      </div>
    </div>
  </template>

  <template id="panel-form">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a href="#" v-on:click="bs_panel_selected('personal_details_panel')">Personal Details</a>
          </h4>
        </div>
        <div class="panel-collapse collapse" :class="{in: bs_panels.personal_details_panel}">
          <div class="panel-body">
            <div v-for="field in form">
              <component :is="field.type" :placeholder="field.placeholder" :input_name="field.input_name" :label="field.label"></component>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><a href="#" v-on:click="bs_panel_selected('connect_relations_panel')">Connect Relations</a></h4>
        </div>
        <div class="panel-collapse collapse" :class="{in: bs_panels.connect_relations_panel}">
          <div class="panel-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="panel-table">
    <div class="table-responsive">
      <table v-if="list.length > 0" class="table table-hover">
        <thead>
          <tr>
            <th class="center-content" v-for="header in table_headers">{{header}}</th>
            <th class="center-content">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="relation in list">
            <td class="center-content" v-for="(detail, key) in relation" v-if="key != 'id'">{{ detail.value }}</td>
            <td class="center-content">
              <button type="button" v-on:click="openRelation(relation.id)" class="btn btn-primary btn-sm" title="Edit"><i class="fa fa-pencil-square-o fa-lg"></i></button>
              <button type="button" class="btn btn-danger btn-sm" v-on:click="deleteRelation(relation.id)" title="Delete"><i class="fa fa-trash-o fa-lg"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <h3 class="text-center" v-else>No Relationship Data Available</h3>
    </div>
  </template>

  <template id="modal-window">
    <div class="modal-mask">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" v-once>{{form.first_name.value}} {{form.last_name.value}}</h4>
          </div>
          <div class="modal-body">
            <div v-for="field in form">
              <component :is="field.type" :placeholder="field.value" :input_name="field.input_name" :label="field.label"></component>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" v-on:click="closeModal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <template id="alpha-input">
    <form class="form-group">
      <label>{{label}}</label>
      <input type="text" class="form-control" :placeholder="placeholder" :name="input_name" v-on:input="alphaChanged(input_name, $event.target.value)">
    </form>
  </template>

  <template id="email-input">
    <form class="form-group">
      <label>{{label}}</label>
      <input type="text" class="form-control" :placeholder="placeholder" :name="input_name" v-on:input="emailChanged(input_name, $event.target.value)">
    </form>
  </template>

  <template id="pikaday-input">
  </template>

  <template id="hidden-input">
    <form class="form-group" style="display: none;">
      <label>{{label}}</label>
      <input type="hidden" class="form-control" :name="input_name" :value="placeholder">
    </form>
  </template>

</body>

<script src="static/js/script.js"></script>

</html>
