<!DOCTYPE html>
<html lan="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MIMINANI</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-beta.21/vee-validate.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
  <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
  <div id="app">
    <app-navbar v-on:subdropdown="toggleSubMenu" :open_submenu="open_sub_dropdown_name" v-on:maindropdown="toggleMenu" :menu_state="{in : open_main_dropdown}"></app-navbar>
    <app-sidebar v-on:selected="updateView" :start_panel="current_view"></app-sidebar>
    <component :is="current_view"></component>
  </div>

  <template id="app-navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" v-on:click="maindropdown">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse" :class="menu_state">
          <ul class="nav navbar-nav navbar-right">
            <li :class="[item.class, {open: item.caption == open_submenu}]" v-for="item in menus" :title="item.reference">
              <a :href="item.link" class="dropdown-toggle" v-on:click="subdropdown(item.caption)" v-if="item.class.includes('dropdown')">
                <i :class="item.icon"></i>
                <small class="nav-menu-caption">{{item.caption}}</small>
                <i class='fa fa-angle-down fa-lg'></i>
              </a>
              <a v-else :href="item.link">
                <i :class="item.icon"></i>
                <small class="hidden-md hidden-sm hidden-lg nav-menu-caption">
                  {{item.caption}}
                </small>
              </a>
              <ul class="dropdown-menu" v-if="item.dropdown.length > 0">
                <li v-for="submenu in item.dropdown" :class="submenu.class">
                  <a :href="submenu.link">{{submenu.caption}}</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </template>

  <template id="app-sidebar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 hidden-xs sidebar">
          <ul class="nav nav-sidebar">
            <li :class="isPanelCurrent(panel)" v-for="panel in panels">
              <a v-on:click="selected(panel)" href="#"><h4>{{panel}}</h4></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </template>

  <template id="panel-navbar">
    <div>
      <div class="row center-block hidden-xs panel-header">
        <h1>{{header}}</h1>
      </div>
      <div class="dropdown" :class="{open : open_panel_menu}">
        <button class="btn btn-default btn-lg btn-group-justified hidden-sm hidden-md hidden-lg button-header" v-on:click="togglePanelMenu">
          <h3>{{header}}</h3>
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu hidden-sm hidden-md hidden-lg panel-dropdown">
          <li><a class="text-center" href="#">Relationships</a></li>
          <li><a class="text-center" href="#">Overview</a></li>
          <li><a class="text-center" href="#">Visualisation</a></li>
          <li><a class="text-center"href="#">Share</a></li>
        </ul>
      </div>
      <div class="btn-group btn-group-justified panel-menu" v-if="menus.length > 0">
        <div :class="menu.length" v-for="menu in menus">
          <button :class="menu.class" :title="menu.reference">
            <i :class="menu.icon"></i>
          </button>
        </div>
      </div>
    </div>
  </template>

  <template id="relationships-panel">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 panel">
      <panel-navbar :header=header :menus=menus></panel-navbar>
      <div class="form" v-for="form in forms" v-if="form.inputs.length > 0">
        <div v-for="input in form.inputs" :class="['form-group', {'has-error': errors.has(input.name) }]">
          <label class="control-label">{{input.name}}</label>
          <input :name=input.name :data-vv-name=input.name v-validate=input.validate class="form-control" type="text" :placeholder=input.placeholder>
          <p class="text-danger" v-show=errors.has(input.name)>{{ errors.first(input.name) }}</p>
        </div>
        <button class="btn btn-default btn-lg btn-block">{{form.submit}}</button>
      </div>
    </div>
  </template>

  <template id="overview-panel">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 panel">
      <panel-navbar :header=header :menus=menus :forms=forms></panel-navbar>
    </div>
  </template>

  <template id="visualisation-panel">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 panel">
      <panel-navbar :header=header :menus=menus :forms=forms></panel-navbar>
    </div>
  </template>

  <template id="share-panel">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 panel">
      <panel-navbar :header=header :menus=menus :forms=forms></panel-navbar>
    </div>
  </template>

</body>

<script src="static/js/script.js"></script>

</html>
