{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
 {{ super() }}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block base_menu_list %}
	<li><a href="#"><i class='fa fa-inbox fa-lg'></i>
		<small class="hidden-md hidden-sm hidden-lg nav_caption">Messages</small>
	</a></li>
	<li class="dropdown active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class='fa fa-user-circle fa-lg'></i>
			<small class="nav_caption">{{user|capitalize}}</small>
			<i class='fa fa-angle-down fa-lg'></i>
		</a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Profile</a></li>
			<li class="disabled"><a href="#">Settings</a></li>
			<li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
		</ul>
	</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 hidden-xs sidebar">
				<ul class="nav nav_sidebar" data-bind="foreach: dashboardPanels">
					<li data-bind="attr: { class: label == $root.chosenDashboardPanelId() ? 'active' : 'inactive' },
										   click: $root.goToPanel">
						<a href="#">
							<h5><span data-bind="text: label"></span></h5>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main" data-bind="with: dashboardPanels">
				<h1 class="panel_header"><span data-bind="text: $root.chosenDashboardPanelId()"></span></h1>
				{% for message in get_flashed_messages() %}
				<div class="alert alert-warning">
					<button type="button" class="close" data-dismiss="alert">&times;</button>
					{{ message }}
				</div>
				{% endfor %}
				<div>
					<section data-bind="visible: $root.chosenDashboardPanelId() == 'Relationships' ">
						<div class="sub_menu_panel btn-group btn-group-justified" data-bind="foreach: $root.relationshipMenus">
							<div class="col-md-4 col-sm-4 col-xs-4">
								<button data-bind="css: { active: label == $root.chosenRelationshipMenuId() },
												   attr: { class: classes },
												   click: $root.goToMenu">
									<i data-bind="attr: { class: icon }"></i>
								</button>
							</div>
						</div>
						<section data-bind="visible: $root.chosenRelationshipMenuId() == 'Add' ">
							{% if addRelationForm %}
								{{ wtf.quick_form(addRelationForm) }}
							{% endif %}
						</section>
					</section>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script type="text/javascript" src="{{ url_for('static', filename='vendors/knockout/knockout.js')}}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/dashboard.js')}}"></script>
{% endblock %}