{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
 {{ super() }}
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css')}}">
{% endblock %}

{% block base_menu_list %}
	<li><a href="#"><i class='fa fa-inbox fa-lg'></i>
		<small class="hidden-md hidden-sm hidden-lg">Messages</small>
	</a></li>
	<li class="dropdown active">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<i class='fa fa-user-circle fa-lg'></i>
			<small>{{user|capitalize}}</small>
			<i class='fa fa-angle-down'></i>
		</a>
		<ul class="dropdown-menu">
			<li class="disabled"><a href="#">Profile</a></li>
			<li class="disabled"><a href="#">Settings</a></li>
			<li><a href="{{ url_for('auth.logout') }}">Sign Out</a></li>
		</ul>
	</li>
{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 hidden-xs sidebar">
				<ul class="nav nav-pills flex-column">
					<li class="nav-item active"><a class="nav-link" href="{{ url_for('user.dashboard', user=user)}}"><h5>Overview</h5><span class="sr-only">(current)</span></a></li>
					<li class="nav-item"><a class="nav-link" href="{{ url_for('user.relationships', user=user)}}"><h5>Relationships</h5></a></li>
					<li class="nav-item disabled"><a class="nav-link" href="#"><h5>Visualisation</h5></a></li>
					<li class="nav-item disabled"><a class="nav-link" href="#"><h5>Share</h5></a></li>
				</ul>
			</div>
			<main class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2">
			{% for message in get_flashed_messages() %}
			<div class="alert alert-warning">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
			<h1>{{ panel_name }}</h1>
				<section class="dash_main_content center-block">
					{% block main_content %}
					{% endblock %}
				</section>
			</main>
		</div>
	</div>
{% endblock %}