{% extends "/user/dashboard.html" %}

{% block panel_menu %}
	<div class="sub_menu_panel">
		<ul class="nav nav-pills nav-justified" style="margin-bottom: 10px">
			<li class="disabled"><a href="#"><i class="fa fa-users fa-lg"></i></a></li>
			<li class="active"><a href="#"><i class="fa fa-user-plus fa-lg"></i></a></li>
			<li class="disabled"><a href="#"><i class="fa fa-pencil-square fa-lg"></i></a></li>
		</ul>
	</div>
{% endblock %}

{% block main_content %}
	{{ wtf.quick_form(form) }}
{% endblock %}