{% extends "/user/dashboard.html" %}

{% block panel_menu %}
	<div class="sub_menu_panel btn-group btn-group-justified">
		<div class="col-md-4 col-sm-4 col-xs-4">
			<button class="btn btn-info btn-lg btn-block disabled"><i class="fa fa-users fa-lg"></i></button>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<button class="btn btn-primary btn-block btn-lg"><i class="fa fa-user-plus fa-lg"></i></button>
		</div>
		<div class="col-md-4 col-sm-4 col-xs-4">
			<button class="btn btn-warning btn-lg btn-block disabled"><i class="fa fa-pencil-square fa-lg"></i></button>
		</div>
	</div>
{% endblock %}

{% block main_content %}
	{{ wtf.quick_form(form) }}
{% endblock %}