/*
* General
*/

.nav_caption {
  padding-left: 5px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.nav_sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav_sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav_sidebar > .active > a,
.nav_sidebar > .active > a:hover,
.nav_sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
* Main
*/
.main {
  padding-top: 50px;
}
@media (min-width: @screen-md-min) {
  .main {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

/*
* panel
*/

.panel_header {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  background-color: #F8F8F8;
  text-indent: 50px;
}

.sub_menu_panel {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
* Alert messages
*/

.alert {
  margin-top: 5px;
}