/*
* Typography
*/

h1 {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
  background-color: #F8F8F8;
  text-indent: 50px;
}

small {
  padding-left: 5px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 53px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: #F8F8F8;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
* Panel
*/

.dash_main_content {
  max-width: 900px;
}

.panel_menu {
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

/*
* Alert messages
*/

.alert {
  margin-top: 5px;
}