<h1>Hello there!</h1>
<p>Welcome to <b>MIMINANI</b>!</p>
<p>You recently signed up for an account with us at MIMINANI. To login into your account, please click <a href="{{ url_for('auth.login', token=token, _external=True) }}">here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.login', token=token, _external=True) }}</p>
<p>Sincerely,</p>
<p>The MIMINANI Team</p>
<p><small>Note: replies to this email address are not monitored.</small></p>